<div class="cart-item-card">
  <div class="content-wrapper">
    <div class="left">
      <img src="{{ cartItem.pictureUrl }}" alt="cartItem" class="img" (click)="openMealPage()" />
    </div>
    <div class="center">
      <p class="title">{{ cartItem.title }}</p>
      <div class="counter">{{ cartItem.count }} шт.</div>
    </div>
    <div class="right">
      <div class="delete-button">
        <mat-icon (click)="deleteCartItem(cartItem.mealId)">close</mat-icon>
      </div>
      <div class="sum">
        <strong>${{ cartItem.mealPrice }}</strong>
      </div>
    </div>
  </div>
</div>
