@import "variables";

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__sign-in,
  &__logout {
    display: flex;
    text-align: center;
    margin: 10px 0;
    padding: 30px 0;
    width: 160px;
    color: white !important;
    background: $primary-color !important;
    cursor: pointer;

    .inner {
      display: flex;
      align-items: center;

      .signImg {
        width: 20px;
        margin: 0 5px;
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__logout {
    .inner {
      .signImg {
        transform: rotate(180deg);
      }
    }
  }

  &__profile-icon {
    position: relative;
    width: 30px;
    height: 30px;
    background: $primary-color;
    color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;

    img {
      width: 30px;
      position: absolute;
      z-index: 10;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
